<span>- Or sign @if(authType === 'login'){in}@else if(authType === 'register'){up} with -</span>
<div class="providers_box">
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <fa-icon [icon]="faGoogle"  size="2x"/>
  </button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <fa-icon [icon]="faFacebookF"  size="2x"/>
  </button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <fa-icon [icon]="faTwitter"  size="2x"/>
  </button>
</div>
