<h3>Login to your Account</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="loginForm.controls.email">
    @if (loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (loginForm.controls.email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="loginForm.controls.password">
    @if (loginForm.controls.password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
    @if (loginForm.controls.password.hasError('minLength')) {
      <mat-error>At least 8 characters long</mat-error>
    }
    @if (loginForm.controls.password.hasError('pattern')) {
      <mat-error>{{showPasswordErrors(loginForm.controls.password.value)}}</mat-error>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Sign In</button>

</form>
